:root {
  --primary-color: #fb6624;
  --secondary-color: #2b2b2b;
  --tertiary-color: #1c1c1c;
}

.app {
  position: relative;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: url("/Urban-Radio/src/img/img-header.jpg") center/cover no-repeat;
}

.logo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 700px;
  /* background-color: #ffffff6b; */
  backdrop-filter: blur(5px);
  padding: 3rem;
  border-radius: 1rem;
  margin-top: 10rem;
  animation: logoHeader 1s ease-out;
}

@keyframes logoHeader {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.content {
  padding: 2rem;
  background-color: #2b2b2b;
  color: #f0f0f0;
  height: calc(100vh - 150px);
}

.content a {
  color: #fb6624;
  text-decoration: none;
  margin-right: 1rem;
}

.audio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.audio-section h2 {
  text-align: center;
  margin: 2rem 0 0 0;
  font-size: 3rem;
  color: #fb6624;
}

.audio-square {
  position: relative;
  background-color: #333;
  cursor: pointer;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 5px #22222296;
}

.audio-square:hover {
  transform: scale(1.02);
}

.play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.play-overlay svg {
  font-size: 2.5rem;
  color: white;
  opacity: 0;
  transform: translateY(50px) scale(0.2);
  transition: all 0.3s ease;
}

.play-overlay .playCircle {
  border: 2px solid white;
  border-radius: 50%;
  padding: 4rem;
  position: absolute;
  opacity: 0;
  transform: translateY(50px) scale(0.2);
  transition: all 0.3s ease;
}

.audio-square:hover .play-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.audio-square:hover .play-overlay svg,
.audio-square:hover .play-overlay .playCircle {
  transform: scale(1.1);
  opacity: 1;
}

.play-icon {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 2rem;
  color: #333;
}

.audio-square:hover .play-icon {
  opacity: 1;
}

.audio-wave {
  width: 250px;
  position: absolute;
  pointer-events: none;
}

.wave-bars .bar.upper {
  animation: waveUp 1.2s ease-in-out infinite;
  transform: rotate(180deg) translateX(17.5px);
}

.wave-bars .bar.lower {
  animation: waveDown 1.2s ease-in-out infinite;
  transform: translateX(17.5px);
}

@keyframes waveUp {
  0%,
  100% {
    height: 0;
  }
  50% {
    height: 20px;
  }
}

@keyframes waveDown {
  0%,
  100% {
    height: 0;
  }
  50% {
    height: 20px;
  }
}

.audio-square.playing {
  background: rgba(0, 0, 0, 0.6);
}

.audio-square.playing .audio-wave {
  pointer-events: none;
  opacity: 1;
  transform: scale(1);
}

.audio-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.mixcloud-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.mixcloud-overlay.clicked {
  opacity: 1;
}

.mixcloud-overlay.clicked:hover {
  opacity: 0;
  pointer-events: none;
}

.mixcloud-overlay.playing .audio-wave {
  pointer-events: none;
  opacity: 1;
  transform: scale(1);
}

.mixcloud-container {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.mixcloud-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}
