.footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 1rem 5rem;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -5px;
}

.footer-logo img {
  height: 60px;
  width: auto;
}

.footer-slogan {
  font-size: 1.2rem;
  text-align: center;
}

.footer-slogan b {
  color: #fb6624;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-links a {
  color: #fb6624;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    gap: 1rem;
  }

  .footer-logo img {
    height: 40px;
  }

  .footer-slogan {
    display: none; /* Masquer le slogan en mobile */
  }

  .social-links {
    gap: 1rem;
  }

  .social-links a {
    font-size: 1.5rem;
  }
}
